@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#title {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_ecobleu {
    width: 20%;
    height: 7rem;
}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color:  #4093a4;
}

h2 {
    color: black;
}

h3 {
    font-size: 1.2rem;
    color: black;
}

#container_title_energie, #container_title_elec, #container_title_eau {
    margin: 2rem;
    padding: 1rem;
    border-radius: 5px;
}

#container_title_energie {
    background-color: #58ac34;
}

.energie {
    color: white;
}

#text_one, #text_two, #text_three {
    margin: 2rem ;
}

p {
    line-height: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
}

.gras {
    margin: 2.5rem;
    line-height: 2rem;
    font-weight: bold;
    color: #2c3256;
}

.eau {
    margin-left: 1rem;
    font-weight: bold;
}

#container_title_elec {
    background-color: #2c3256;
}

#container_title_eau {
    background-color: #4093a4;
}

.energie {
    color: white;
}

#image, #image3 {
    margin: 2rem 0;
}

#text_two {
    margin: 2rem 0;
}

.image {
    width: 100%;
    height: 15rem;
}

.image_two {
    width: 100%;
    height: 15rem;
}

.image_three {
    width: 100%;
    height: 9rem;
}

#retour {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fa-undo {
    margin-bottom: 1rem;
    font-size: 3rem;
    color: #4093a4;
}

a {
    text-decoration: none;
}


