@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#title {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_ecobleu {
    width: 20%;
    height: 7rem;
}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color:  #4093a4;
}

h2 {
    color: black;
}

h3 {
    font-size: 1.2rem;
    color: black;
}

#container_title_energie, #container_title_elec, #container_title_eau {
    margin: 2rem;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container_title_energie {
    background-color: #58ac34;
}

.energie {
    color: white;
}

#text_one, #text_two, #text_three {
    margin: 2rem ;
}

p {
    line-height: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
}

.gras {
    margin: 2.5rem;
    line-height: 2rem;
    font-weight: bold;
    color: #2c3256;
}

.eau {
    margin-left: 1rem;
    font-weight: bold;
}

#container_title_elec {
    background-color: #2c3256;
}

#container_title_eau {
    background-color: #4093a4;
}

.energie {
    color: white;
}

#image1, #image2, #image3, #image4 {
    width: 100%;

}

#image1, #image2 {
    margin: 2rem 0 2rem 0;
}

#image3, #image4 {
    margin-top: 2rem;
    margin-left: 5rem;
}

#image4 {
    margin-top: 0;
}

#container_image3_and_image4 {
    display: flex;
    flex-direction: column;
}

.image1 {
    height: 15rem;
}

.image1, .image2 {
    width: 100%;
}

.image3, .image4 {
    width: 70%;
}

#retour {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fa-undo {
    margin-bottom: 1rem;
    font-size: 3rem;
    color: #4093a4;
}

a {
    text-decoration: none;
    width: 100%;
    text-align: center;
}

/* responsive mode */
/* width responsive */

@media screen and (min-width: 480px) {
    #title {
        margin-top: 5rem;
    }

    .logo_ecobleu {
        width: 15%;
        height: 7rem;
    }

    .image1 {
        height: 20rem;
    }

    #image3, #image4 {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }

    .fa-undo {
        margin-top: 3rem;
    }
}

@media screen and (min-width: 600px) {
    #title {
        margin-top: 5rem;
    }

    .logo_ecobleu {
        width: 15%;
        height: 10rem;
    }

    .image3, .image4 {
        width: 60%;
    }

    .image1 {
        height: 25rem;
    }

    .eau {
        text-align: center;
    }
    .fa-undo {
        margin-top: 3rem;
    }
}

@media screen and (min-width: 760px) {
    #title {
        margin-top: 5rem;
    }

    .logo_ecobleu {
        width: 15%;
        height: 10rem;
    }

    #container-principal {
        margin: 10rem auto auto;
        width: 80%;
    }

    .image3, .image4 {
        width: 50%;
    }

    .fa-undo {
        margin-top: 5rem;
    }
}

@media screen and (min-width: 830px) {
    .logo_ecobleu {
        width: 14%;
    }

    #container-principal {
        width: 75%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 4rem auto auto;
    }

    .image3, .image4 {
        width: 55%;
    }

    #retour {
        margin-top: 5rem;
    }
}

@media screen and (min-width: 1020px) {
    #title {
        justify-content: flex-start;
    }

    .logo_ecobleu {
        width: 12%;
        margin-left: 8rem;
    }

    #container-principal {
        width: 70%;
        margin: 10rem auto auto;
    }

    .image3, .image4 {
        width: 45%;
    }

    #retour {
        margin-top: 5rem;
    }
}

@media screen and (min-width: 1110px) {
    .logo_ecobleu {
        width: 11%;
    }

    #container-principal {
        width: 65%;
        margin: 10rem auto auto;
    }
}

@media screen and (min-width: 1110px) {
    #container-principal {
        width: 60%;
    }
}

@media screen and (min-width: 1366px) {
    .logo_ecobleu {
        width: 10%;
        height: 13rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    #retour {
        margin-top: 8rem;
    }

    #container-principal {
        width: 50%;
    }
}

@media screen and (min-width: 1450px) {
    #title {
        margin-top: 3rem;
    }

    #container-principal {
        width: 45%;
    }

}

/* height responsive */

@media screen and (min-height: 1280px) {
    #title {
        justify-content: center;
    }

    .logo_ecobleu {
        margin-left: 0;
    }

    h1 {
        font-size: 3rem;
    }

    #retour {
        margin-top: 10rem;
    }
}


@media screen and (min-height: 1366px) {
    #title {
        justify-content: center;
    }

    .logo_ecobleu {
        margin-left: 0;
    }

    h1 {
        font-size: 3rem;
    }

    #retour {
        margin-top: 10rem;
    }
}


