@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title_my_follow_up {
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.follow {
    width: 20%;
    margin-right: 1rem;
}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: #2c3256;
}

h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: black;
}

h3 {
    font-size: 1.2rem;
    color: black;
}

#suivi_conso, #suivi_depense, #suivi_conso_tab {
    width: 90%;
    margin: 1rem 2rem;
    border-bottom: 2px solid #2c3256;
}

.month, .kilowatt {
    margin: 1rem;
    display: flex;
    justify-content: center;
}

input {
    width: 25%;
    padding: 0.5rem;
    border-radius: 5px;
    border-color: black;
}

#ajout_conso {
    width: 35%;
    display: flex;
    padding: 1rem;
    margin: auto;
    background-color: #2c3256;
    outline: none;
    border-style: none;
    color: white;
    cursor: pointer;
}


#retour {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fa-undo {
    margin-bottom: 1rem;
    font-size: 3rem;
    color: #2c3256;
}

a {
    text-decoration: none;
}

.select-test {
    margin-bottom: 1em;
    padding: .4em;
    border: 0;
    border-bottom: 2px solid #2c3256;
    font-weight: bold;
    letter-spacing: .15em;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-overflow: '';
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    cursor: auto;
}

.input-test {
    border: 0;
    border-bottom: 2px solid #2c3256;
    border-radius: 0;
    text-align: center;
    outline: none;
    margin-bottom: 2rem;
}

.select-test:focus, .select-test:active {
    outline: 0;
    border-bottom-color: #2c3256;
}

#container_top {
    width: 100%;
}

#prix_moyen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.italic {
    font-weight: bold;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* responsive mode */
/* width responsive */

@media screen and (min-width: 480px) {
    #container_top {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h2 {
        text-align: center;
    }

    .follow {
        width: 15%;
    }

    #suivi_conso, #suivi_depense {
        width: 55%;
    }

    input[type="number"] {
        width: 100%;
    }

    #ajout_conso {
        width: 100%;
    }
}

@media screen and (min-width: 760px) {
    .follow {
        width: 12%;
    }

    #suivi_conso, #suivi_depense {
        width: 35%;
    }
}

@media screen and (min-width: 1020px) {
    #myChart, #myGraphic {
        width: 400px;
        height: 400px;
    }
}

@media screen and (min-width: 1110px) {
    #container_principal {
        width: 65%;
    }
}


@media screen and (min-width: 1366px) {
    #container_principal {
        display: flex;
        padding: 5rem;
    }

    #myChart, #myGraphic {
        width: 500px;
        height: 500px;
    }

    #depense, #conso {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #suivi_depense {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .depense {
        width: 50%;
    }

    #depense {
        margin-left: 30rem;
    }
}



