@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#title {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_ecobleu {
    width: 20%;
    height: 7rem;
}

h1, h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color:  #4093a4;
}

#container_title {
    margin-top: 2rem;
    padding-left: 3rem;
}

h2 {
    color: black;
}

#image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.salle_de_bain {
    height: 25rem;
}

#text_one, #text_two, #text_three {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #ffa384;
}

#text_three {
    margin-bottom: 1rem;
}

p, span {
    margin-bottom: 0.5rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
}

span {
    margin-top: 1rem;
    font-style: italic;
    color: #ffa384;
}

#text_one_elec, #text_two_elec, #text_three_elec {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid black;
}

#text_three_elec {
    margin-bottom: 1rem;
}

#text_one_eau, #text_two_eau, #text_three_eau, #text_four_eau, #text_five_eau, #text_six_eau, #text_seven_eau, #text_eigth_eau {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #4093a4;
}

#text_eigth_eau {
    margin-bottom: 1rem;
}