@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#title {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_ecobleu {
    width: 20%;
    height: 7rem;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: #4093a4;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
}

#container_title {
    margin-top: 2rem;
    padding-left: 3rem;
}


#image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.salon {
    height: 25rem;
}

p, span {
    margin-bottom: 0.5rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
}

span {
    margin-top: 1rem;
    font-style: italic;
}

#text_one_elec, #text_two_elec, #text_three_elec {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid  #2c3256;
}

#text_three_elec {
    margin-bottom: 1rem;
}

#text_one_air, #text_two_air, #text_three_air, #text_four_air, #text_five_air, #text_six_air {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #58ac34;
}

#text_six_air {
    margin-bottom: 1rem;
}

#container_title_air, #container_title_elec {
    width: 71%;
    padding: 1rem;
    margin: 2rem 1.5rem 2rem 1.5rem;
    background-color: #58ac34;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container_title_elec {
    width: 57%;
    background-color: #2c3256;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title_air, .title_elec {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: white;
}

.italic_vert {
    margin-top: 1rem;
    font-style: italic;
    color: #58ac34;
}

.italic_ardoise {
    margin-top: 1rem;
    font-style: italic;
    color: #2c3256;
}

#retour {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fa-undo {
    margin-bottom: 1rem;
    font-size: 4rem;
    color: #4093a4;
}

h3 {
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}
