@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* I create the design of the page. */
/* Je créée le disagne de la page. */

#container_top {
    margin-top: 3rem;
    margin-bottom: 2rem;
    width: 100%;
    height: 7rem;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo_faceco {
    width: 40%;
    height: 7rem;
}
/**/

#principal_container {
    height: auto;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 1;
}

h2 {
    width: 100%;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.ecos_gesture, .selective_sorting, .my_follow_up {
    width: 100%;
    height: 7rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
}

.ecos_gestes, .tri_selectif, .eclair {
    width: 4rem;
    height: 4rem;
    margin: 1.5rem;
}

.ecos_gesture {
    margin-top: 3rem;
    background-color: #4093a4;
}

.selective_sorting {
    background-color: #58ac34;
}

.my_follow_up {
    background-color: #2c3256;
}

.arrow {
    width: 10%;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.fa-sort-down {
    color: white;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.drop_down_ecos_gestures_li {
    margin: 1rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    border-bottom: 2px solid #4093a4;
    display: none;
}

span {
    color: #575a6e;
}

.drop_down_selective_sorting_li {
    margin: 1rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    border-bottom: 2px solid #58ac34;
    display: none;
}

.drop_down_follow_up_li {
    margin: 1rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    border-bottom: 2px solid #2c3256;
    display: none;
}

.fa-bed, .fa-bath, .fa-tv, .fa-utensils, .fa-tshirt,.fa-sort-amount-down, .fa-euro-sign, .fa-globe-europe, .fa-gamepad,
.fa-bolt, .fa-hand-holding-water, .fa-burn, .fa-user {
    width: 5%;
    height: 1.5rem;
    margin-right: 1rem;
    color: #575a6e;
}

.drop_down_follow_up {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}


#drop_down_follow_up_li {
    margin-bottom: 3rem;
}

#arrow_gesture {
    background-color: #4093a4;
    border: none;
    outline: none !important;
    user-select: none;
}

#arrow_selective {
    background-color: #58ac34;
    border: none;
    outline: none !important;
    user-select: none;
}

#arrow_follow_up {
    background-color: #2c3256;
    border: none;
    outline: none !important;
    user-select: none;
}

#temperature, #drop_down_salle_de_bain, #drop_down_salon {
    display: none;
    margin-right: 1rem;
    margin-left: 7rem;
    cursor: pointer;
}

.temperature_li, .temp_li, .elec_li, .eau_li, .air_li {
    list-style: none;
    border-bottom: 0.05rem solid #4093a4;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    padding-bottom: 5px;
    color: #575a6e;
    cursor: pointer;
}

.elec_li, .eau_li, .air_li {
    padding-top: 5px;
}


footer {
    height: 5.5vh;
    margin-top: 3rem;
    background-color: white;
}

#container_bottom {
    width: 100%;
    height: 7rem;
    display: flex;
    flex-direction: row;
    z-index: 1;
    position: fixed;
    background-color: white;
    top: calc(100vh - 5.5rem);
}

#facebook, #twitter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

#facebook {
    padding-right: 0.5rem;
}

#twitter {
    padding-left: 0;
}

.facebook, .twitter {
    width: 4rem;
    height: 4rem;
    margin-bottom: 1.5rem;
    z-index: 2;
}

.twitter {
    border-radius: 5px;
}

.logo_face {
    width: 10rem;
    height: 5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    z-index: 2;
}

#face_thierache {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #575a6e;
}

#chambre, #salle_de_bain, .fa-sort-down, #salon, .drop_down_ecos_gestures_li {
    cursor: pointer;
}

.arrow-down-animation {
    -webkit-animation: spin-down .0s linear forwards;
    -moz-animation: spin-down .0s linear forwards;
    animation: spin-down .0s linear forwards;
}

@-moz-keyframes spin-down {
    100% {
        -moz-transform: rotate(180deg);
    }
}

@-webkit-keyframes spin-down {
    100% {
        -webkit-transform: rotate(180deg);
    }
}

@keyframes spin-down {
    100% {
        -webkit-transform: rotate(180deg);
        transform:rotate(180deg);
    }
}

