* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* I create the design of the page. */
/* Je créée le disagne de la page. */

#container_top {
    width: 100%;
    height: 7rem;
    background-color: #575a6e;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo_faceco {
    width: 30%;
    height: 5rem;
}
/**/

#principal_container {
    height: auto;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 1;
}

h2 {
    width: 100%;
    color: white;
    font-family: "Arial Black", sans-serif;
    display: flex;
    align-items: center;
}

.ecos_gesture, .selective_sorting, .my_follow_up {
    width: 100%;
    height: 7rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
}

.ecos_gestes, .tri_selectif, .eclair {
    width: 4rem;
    height: 4rem;
    margin: 1.5rem;
}

.ecos_gesture {
    margin-top: 3rem;
    background-color: #31c095;
}

.selective_sorting {
    background-color: #f4a733;
}

.my_follow_up {
    background-color: #ca365a;
}

.arrow {
    width: 10%;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.fa-sort-down {
    color: white;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drop_down_ecos_gestures_li {
    margin: 1rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    list-style: none;
    font-family: "Arial Black", sans-serif;
    font-size: 1.2rem;
    border-bottom: 2px solid #31c095;
    display: none;
}

.drop_down_selective_sorting_li {
    margin: 1rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    list-style: none;
    font-family: "Arial Black", sans-serif;
    font-size: 1.2rem;
    border-bottom: 2px solid #f4a733;
    display: none;
}

.drop_down_follow_up_li {
    margin: 1rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    list-style: none;
    font-family: "Arial Black", sans-serif;
    font-size: 1.2rem;
    border-bottom: 2px solid #ca365a;
    display: none;
}

.fa-bed, .fa-bath, .fa-tv, .fa-coffee, .fa-socks,.fa-sort-amount-down, .fa-euro-sign, .fa-globe-europe, .fa-gamepad,
.fa-bolt, .fa-hand-holding-water, .fa-burn, .fa-user {
    width: auto;
    height: auto;
    margin-right: 1rem;
    color: #575a6e;
}

.fa-hand-holding-water {
    margin-right: 0.5rem;
}

.drop_down_follow_up {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}


#drop_down_follow_up_li {
    margin-bottom: 3rem;
}

#arrow_gesture {
    background-color: #31c095;
    border: none;
}

#arrow_selective {
    background-color: #f4a733;
    border: none;
}

#arrow_follow_up {
    background-color: #ca365a;
    border: none;
}

footer {
    height: 5.5vh;
    margin-top: 3rem;
    background-color: white;
}

#container_bottom {
    width: 100%;
    height: 7rem;
    display: flex;
    flex-direction: row;
    z-index: 1;
    position: fixed;
    background-color: white;
    top: calc(100vh - 5.5rem);
}

#facebook, #twitter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

#facebook {
    padding-right: 0.5rem;
}

#twitter {
    padding-left: 0;
}

.facebook, .twitter {
    width: 4rem;
    height: 4rem;
    margin-bottom: 1.5rem;
    z-index: 2;
}

.twitter {
    border-radius: 5px;
}

.logo_face {
    width: 10rem;
    height: 5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    z-index: 2;
}

#face_thierache {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #575a6e;
}