@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* i create the container "info and user" */

header {
    width: 100%
}

#container_info_and_user {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#info {
    display: flex;
    margin-left: 1.5rem;
}

.fa-info {
    color: #4093a4;
    font-size: 1.5rem;
    margin: 1.5rem 1.5rem 0;
}

.info {
    margin-top: 5px;
    font-size: 1.1rem;
    font-family: 'Open Sans', sans-serif;
    color: #4093a4;
    display: flex;
    align-items: center;
}

/* i create the container for the name of user */

#user {
    margin: 2rem 1rem 1rem;
    position: absolute;
    right: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* I create the design of the page. */
/* Je créée le disagne de la page. */

#container_top {
    margin-top: 1.5rem;
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo_faceco {
    width: 45%;
}

/*I create the principal container*/

#principal_container {
    width: 95%;
    margin-top: 5rem;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 1;
}

/*I create the pricipal menu */

h2 {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    color: white;
    display: flex;
    align-items: center;
    cursor: default;
    font-weight: bolder;
}

button, span {
    cursor: pointer;
}

span {
    color: #575a6e;
}

.ecos_gesture, .selective_sorting, .my_follow_up {
    width: 100%;
    margin-top: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

.ecos_gestes, .tri_selectif, .eclair {
    width: 4rem;
    height: 4rem;
    margin: 1.5rem;
}

.ecos_gesture {
    margin-top: 3rem;
    background-color: #4093a4;
}

.selective_sorting {
    background-color: #58ac34;
}

.my_follow_up {
    background-color: #2c3256;
}

#arrow_gesture {
    background-color: #4093a4;
}

#arrow_selective {
    background-color: #58ac34;
}

#arrow_follow_up {
    background-color: #2c3256;
}

.arrow {
    margin: 1.5rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.fa-sort-down {
    color: white;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*I create the drop down menu */

.drop_down_ecos_gestures_li, .drop_down_selective_sorting_li, .drop_down_follow_up_li {
    margin: 1rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    border-bottom: 2px solid #4093a4;
    display: none;
}

.drop_down_selective_sorting_li {
    border-bottom: 2px solid #58ac34;
}

.drop_down_follow_up_li {
    border-bottom: 2px solid #2c3256;
}

.drop_down_follow_up_li_2 {
    padding: 1rem;
    border-bottom: 1px solid #2c3256;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
}

.fa-bed, .fa-bath, .fa-tv, .fa-utensils, .fa-tshirt,.fa-sort-amount-down, .fa-euro-sign, .fa-globe-europe, .fa-gamepad,
.fa-bolt, .fa-hand-holding-water, .fa-burn, .fa-user, .fa-question, .fa-user-times {
    width: 5%;
    height: 1.5rem;
    margin-right: 1rem;
    color: #575a6e;
}


#arrow_gesture, #arrow_selective, #arrow_follow_up {
    border: none;
    outline: none !important;
    user-select: none;
}

/*I create the second drop down menu */

#temperature, #drop_down_salle_de_bain, #drop_down_salon, #drop_down_cuisne, #drop_down_buandrie, #drop_down_infos,
#drop_down_equipement, #drop_down_dechet, #drop_down_mon_compte  {
    display: none;
    margin-right: 1rem;
    margin-left: 7rem;
    cursor: pointer;
}

#drop_down_follow_up_li_3 {
    margin-bottom: 5rem;
}

.temperature_li, .temp_li, .elec_li, .eau_li, .air_li, .trie_dechet {
    list-style: none;
    border-bottom: 0.05rem solid #4093a4;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    padding: 1rem;
    color: #575a6e;
}

.trie_dechet {
    padding: 1rem;
    border-bottom: 0.05rem solid #58ac34;
}

.elec_li, .eau_li, .air_li {
    padding-top: 5px;
}

/*I create the footer*/

footer {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#container_bottom {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 1;
    top: calc(100vh - 5.5rem);
}

#facebook, #twitter {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#twitter {
    justify-content: flex-start;
}

#face_thierache {
    width: 50%;
    text-align: center;
}

.fa-facebook-f, .fa-twitter {
    font-size: 2.2rem;
}

/* colorie des logos "info, facebook et twitter". */


.fa-facebook-f {
    color: #3c5a99;
}

.fa-twitter {
    color: #1da1f2;
}

.logo_face {
    width: 13rem;
    z-index: 2;
}

#face_thierache {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #575a6e;
    cursor: pointer;
}


/* I create a modal window*/

#fenetre_modal {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(22, 22, 22, 0.6);
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#modal_container {
    width: 90%;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 999999;
}

#close {
    width: 100%;
    margin: 2rem 4rem 1rem 0;
    font-size: 2rem;
    display: flex;
    flex-direction: row-reverse;
}

.fa-times {
    cursor: pointer;
    color: #2c3256;
}

.logo_modal {
    width: 50%;
    margin: 0 2rem 0 2rem;
}

#button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5rem 2.5rem 2.5rem 1.5rem;
}

#button_inscription, #connexion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    cursor: pointer;
    margin: 1rem;
}

#button_inscription {
    border-radius: 5px;
}

#ou {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5rem;
    color: black;
}

#inscription, #connect {
    width: 100%;
    margin: 2rem;
    padding: 1rem;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: white;
    border: none;
    outline: none;
}

#connect {
    background-color: #58ac34;
}

#inscription {
    background-color: #2c3256;
}

#connexion_server {
    display: none;
}

#formulaire_server {
    display: none;
    position: relative;
}

form {
    width: 100%;
    text-align: center;
}

input {
    width: 100%;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 5px;
    outline: none;
}

#user {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.fa-circle {
    color: limegreen;
    margin: 1rem 1rem 0.5rem;
}

#submit, #login {
    width: 80%;
    margin-top: 1.5rem;
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    border: none;
    outline: none;
    color: white;
    background-color: #2c3256;
    cursor: pointer;
}

#login {
    margin-top: 1.5rem;
    background-color: #58ac34;
}

/* responsive mode */
/* width responsive*/
/* TODO the responsive format*/

@media screen and (min-width: 410px) {

    #container_top {
        margin-top: 4.5rem;
    }

    #principal_container {
        width: 90%;
        margin-top: 10rem;
    }

    #container_bottom {
        width: 95%;
    }

    #logo_faceco {
        width: 43%;
    }
}

@media screen and (min-width: 450px) {
    #logo_faceco {
        width: 42%;
    }
}

@media screen and (min-width: 500px) {
    #logo_faceco {
        width: 40%;
    }

    #principal_container {
        width: 85%;
    }

    h2 {
        font-size: 1.8rem;
    }

    #container_bottom {
        width: 96%;
    }

    .logo_modal {
        width: 45%;
    }

    input {
        width: 85%;
    }

    #submit, #login {
        width: 65%;
    }
}

@media screen and (min-width: 600px) {
    #logo_faceco {
        width: 33%;
    }

    #principal_container {
        width: 80%;
    }

    #container_bottom {
        width: 90%;
    }

    .logo_modal {
        width: 37%;
    }

    input {
        width: 70%;
    }

    #submit, #login {
        width: 80%;
    }
}

@media screen and (min-width: 720px) {
    #container_top {
        margin-top: 7.5rem;
    }

    #logo_faceco {
        width: 30%;
    }

    #principal_container {
        width: 75%;
        margin-top: 15rem;
    }

    h2 {
        font-size: 2rem;
    }
}


@media screen and (min-width: 800px) {
    #logo_faceco {
        width: 27%;
    }

    #principal_container {
        width: 65%;
    }

    #container_bottom {
        width: 80%;
    }

    #modal_container {
        width: 60%;
    }
}

@media screen and (min-width: 900px) {
    #logo_faceco {
        width: 25%;
    }

    #principal_container {
        width: 60%;
    }

    #container_bottom {
        width: 75%;
    }

    #modal_container {
        width: 55%;
    }

    #submit, #login {
        width: 55%;
    }
}

@media screen and (min-width: 1020px) {
    #logo_faceco {
        width: 21%;
    }

    #container_top {
        margin-top: 5rem;
    }

    #principal_container {
        width: 55%;
        margin-top: 5rem;
    }

    #container_bottom {
        width: 60%;
    }
}

@media screen and (min-width: 1200px) {
    #logo_faceco {
        width: 20%;
    }

    #principal_container {
        width: 45%;
    }

    #container_bottom {
        width: 50%;
    }

    #modal_container {
        width: 45%;
    }
}

@media screen and (min-width: 1366px) {
    #logo_faceco {
        width: 18%;
    }

    #principal_container {
        width: 40%;
    }

    #container_bottom {
        width: 45%;
    }

    #modal_container {
        width: 40%;
    }
}

@media screen and (min-width: 1430px) {
    #logo_faceco {
        width: 17%;
    }

    #principal_container {
        width: 38%;
    }
}

@media screen and (min-width: 1600px) {
    #logo_faceco {
        width: 15%;
    }

    #principal_container {
        width: 34%;
    }

    #container_bottom {
        width: 43%;
    }

    #modal_container {
        width: 35%;
    }
}

/*I create an adaptation for all browsers*/

.arrow-down-animation {
    -webkit-animation: spin-down .0s linear forwards;
    -moz-animation: spin-down .0s linear forwards;
    animation: spin-down .0s linear forwards;
}

@-moz-keyframes spin-down {
    100% {
        -moz-transform: rotate(180deg);
    }
}

@-webkit-keyframes spin-down {
    100% {
        -webkit-transform: rotate(180deg);
    }
}

@keyframes spin-down {
    100% {
        -webkit-transform: rotate(180deg);
        transform:rotate(180deg);
    }
}

