@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@media screen and (min-width: 1024px){

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        font-size: 72.5%;
        font-weight: bold;
    }

    body {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #title {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: right;
    }

    .logo_ecobleu {
        width: 15%;
        height: 10rem;
    }

    h1, h2, h3 {
        font-family: 'Open Sans', sans-serif;
        font-size: 2rem;
        color:  #4093a4;
    }

    #container_title {
        margin-top: 2rem;
        padding-left: 3rem;
    }

    h2, h3 {
        color: black;
    }

    h3 {
        font-size: 1.5rem;
        font-family: 'Open Sans', sans-serif;
    }

    #image {
        display: flex;
        justify-content: right;
        align-items: center;
    }

    .chambre {
        height: 30rem;
    }

    #container_temperature{
        display: flex;
        justify-content: left;
        align-items: center;
        flex-direction: column;
    }

    #text_one, #text_two, #text_three, #text_four, #text_five {
        margin-left: 2.5rem;
        margin-right: 5.5rem;
        margin-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 2rem;
        border-bottom: 2px solid #ffa384;
        display: flex;
        justify-content: left;
        align-items: center;
        flex-direction: column;
    }

    #text_five {
        margin-bottom: 1rem;
    }

    p, span {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.5rem;
    }

    span {
        margin-top: 1rem;
        font-style: italic;
        color: #ffa384;
    }

    #container_principal{
        display: flex;
    }

    #container_title_temp {
        width: 86%;
        border-radius: 5px;
        background-color: #ffa384;
        padding: 1rem;
        margin: 2rem 1.5rem 2rem 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .title_temp {
        color: white;
    }

    .italic_temp {
        color: #ffa384;
    }

    #retour {
        margin: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .fa-undo {
        margin-bottom: 1rem;
        font-size: 4rem;
        color: #4093a4;
    }

    a {
        text-decoration: none;
    }
}