* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width : 750px) {
    html {
        font-size: 62.5%;
        font-weight: bold;
    }

    .logo_ecobleu {
        width: 13%;
        height: 8rem;
        margin-left: -27.5rem;
        margin-right: 0.5rem;
    }

    h1, h2 {
        font-family: 'Open Sans', sans-serif;
        font-size: 2rem;
        color:  #4093a4;
    }

    h2{
        color: black;
    }
}

@media screen and (min-width: 1024px){

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        font-size: 72.5%;
        font-weight: bold;
    }

    body {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .logo_ecobleu {
        width: 15%;
        height: 10rem;
        margin-left: -37.5rem;
        margin-right: 0.5rem;
    }

    h1, h2 {
        font-family: 'Open Sans', sans-serif;
        font-size: 3rem;
        color:  #4093a4;
    }

    h2{
        color: black;
    }

    .salle_de_bain {
        height: 40rem;
        margin-right: 45rem;
    }

    #container_temperature{
        margin-left: 45.5rem;
        margin-right: 0.5rem;
        margin-top: -46rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 3rem;
        font-size: 1rem;
    }

    #electricite{
        margin-left: 45.5rem;
        margin-right: 0.5rem;
        margin-top: 0rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 3rem;
        font-size: 1rem;
    }

    #eau{
        margin-left: 45.5rem;
        margin-right: 0.5rem;
        margin-top: 0rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 3rem;
        font-size: 1rem;
    }

    #container_title_temp{
        width: 83%;
        border-radius: 5px;
        background-color: #ffa384;
        padding: 1rem;
        margin: 2rem 1.5rem 2rem 1.5rem;
    }

    #container_title_elec{
        width: 68%;
        background-color: #2c3256;
        padding: 1rem;
        margin: 2rem 1.5rem 2rem 1.5rem;
        border-radius: 5px
    }

    #container_title_eau{
        width: 49%;
        background-color: #4093a4;
        padding: 1rem;
        margin: 2rem 1.5rem 2rem 1.5rem;
        border-radius: 5px
    }

}