

@media screen and (min-width: 1024px){
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        font-size: 72.5%;
        font-weight: bold;
    }

    body {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .logo_ecobleu {
        width: 14%;
        height: 11rem;
        margin-left: -40.5rem;
        margin-right: 0.5rem;
    }

    h1, h2 {
        font-family: 'Open Sans', sans-serif;
        font-size: 3rem;
        color:  #4093a4;
    }

    h2{
        color: black;
    }

    .salon{
        height: 40rem;
        margin-right: 38rem;
    }

    #electricite{
        margin-left: 50.5rem;
        margin-right: 0.5rem;
        margin-top: -46rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 3rem;
        font-size: 1rem;
    }

    #air{
        margin-left: 50.5rem;
        margin-right: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 3rem;
        font-size: 1rem;
    }

    #container_title_elec{
        width: 54%;
        background-color: #2c3256;
        padding: 1rem;
        margin: 2rem 1.5rem 2rem 1.5rem;
        border-radius: 5px
    }

    #container_title_air{
        width: 68%;
        padding: 1rem;
        margin: 2rem 1.5rem 2rem 1.5rem;
        background-color: #58ac34;
        border-radius: 5px;
    }
}